#button-4 {
    height: 100px;
    
}
#blue {
    height: 90px;
}
#button-3 {
    height: 100px;
    
}
#red {
    height: 90px;
}
#button-2 {
    height: 100px;
    
}
#yellow {
    height: 90px;
}
#button-1 {
    height: 100px;
    
}
#green {
    height: 90px;
}